@model ShopBanDongHo.Models.KhachHang

<form name="customerForm">
    @Html.AntiForgeryToken()
    <div class="modal-header">
        <h4 class="modal-title">
            <button type="button" class="close pull-right" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span>@(Model.MaKH > 0? "Cập Nhật Thông Tin Khách Hàng" : "Thêm Khách Hàng")</span>
        </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            @*<div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(kh => kh.urlAvatarPicture, "Ảnh", new { @class = "control-label col-md-5" }) <br />
                    <img src="https://i.picsum.photos/id/866/200/300.jpg?hmac=rcadCENKh4rD6MAp6V_ma-AyWv641M4iiOpe1RyFHeI" class="avatar img-responsive" alt="avatar" style="width: 150px; height: 150px;"> <br />
                        <div class="col-md-12">
                            <button type="button" class="btn btn-secondary" id="chooseFile">Chọn ảnh</button> <br />
                            @Html.TextBoxFor(kh => kh.urlAvatarPicture, new { @type = "file", required = true, @style = "opacity:0" })
                            @Html.ValidationMessageFor(kh => kh.urlAvatarPicture, "", new { @class = "text-danger" })
                            <span id="val"></span>
                        </div>
                </div>
            </div>*@
            <div class="col-md-12">
                @if (Model.MaKH > 0)
                {
                <div class="form-group">
                    @Html.LabelFor(kh => kh.MaKH, "Mã khách hàng", htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(kh => kh.MaKH, new { @class = "form-control", @required = true, @disabled = "disabled" })
                        @Html.ValidationMessageFor(kh => kh.MaKH, "", new { @class = "text-danger" })
                    </div>
                </div>
                }
                <div class="form-group">
                    @Html.LabelFor(kh => kh.TenKH, "Tên KH", htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(kh => kh.TenKH, new { @class = "form-control", @required = true })
                        @Html.ValidationMessageFor(kh => kh.TenKH, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(kh => kh.GioiTinh, "Giới tính", new { @class = "control-label col-md-5" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(kh => kh.GioiTinh, new { @class = "form-control" })
                        @Html.ValidationMessageFor(kh => kh.GioiTinh, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(kh => kh.DiaChi, "Địa chỉ", htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-12">
                        @Html.EditorFor(kh => kh.DiaChi, new { htmlAttributes = new { @class = "form-control", required = true } })
                        @Html.ValidationMessageFor(kh => kh.DiaChi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(kh => kh.SoDT, "Số ĐT", htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-12">
                        @Html.EditorFor(kh => kh.SoDT, new { htmlAttributes = new { @class = "form-control", required = true } })
                        @Html.ValidationMessageFor(kh => kh.SoDT, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(kh => kh.Email, "Email", htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(kh => kh.Email, new { @type = "email", @class = "form-control", required = true })
                        @Html.ValidationMessageFor(kh => kh.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(kh => kh.NgaySinh, "Ngày sinh", htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-12">
                        @Html.TextBoxFor(kh => kh.NgaySinh, "{0:yyyy-MM-dd}", new { @type = "date", @class = "form-control", required = true })
                        @Html.ValidationMessageFor(kh => kh.NgaySinh, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                @Html.LabelFor(kh => kh.TenTK, "Tên TK", htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-12">
                    @if (Model.MaKH > 0)
                    {
                        @Html.TextBoxFor(kh => kh.TenTK, new { @class = "form-control", required = true, @disabled = "disabled" })
                    }
                    else
                    {
                        @Html.TextBoxFor(kh => kh.TenTK, new { @class = "form-control", required = true })
                    }
                    @Html.ValidationMessageFor(kh => kh.TenTK, "", new { @class = "text-danger" })
                </div>
            </div>
                <div class="form-group">
                @Html.LabelFor(kh => kh.MatKhau, "Mật khẩu", htmlAttributes: new { @class = "control-label col-md-5" })
                <div class="col-md-12">
                    @if (Model.MaKH > 0)
                    {
                        @Html.PasswordFor(kh => kh.MatKhau, new { @class = "form-control", required = true, @disabled = "disabled", @placeholder= "**********" })
                    }
                    else
                    {
                        @Html.PasswordFor(kh => kh.MatKhau, new { @class = "form-control", required = true })
                    }
                    @Html.ValidationMessageFor(kh => kh.MatKhau, "", new { @class = "text-danger" })
                </div>
            </div>

            </div>
        </div>
    </div>

    <div class="modal-footer">
        @if (Model.MaKH > 0)
        {
            <button type="button" onclick="createOrUpdate('PUT')" class="btn btn-sm btn-primary pull-right">Sửa</button>
        }
        else
        {
            <button type="button" onclick="createOrUpdate('POST')" class="btn btn-sm btn-primary pull-right">Thêm</button>
        }
        <button type="button" class="btn btn-sm btn-secondary pull-left" data-dismiss="modal">Hủy bỏ</button>
    </div>
</form>


